name: ECM Distro Tools Release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build ECM Distro Tools
        run: |
          export VERSION=${GITHUB_REF_NAME}
          make test
          make package-binaries
      - name: Publish Binaries
        uses: SierraSoftworks/gh-releases@v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          overwrite: "true"
          files: |
            ${{ github.workspace }}/bin/bootstrap_hash
            ${{ github.workspace }}/bin/check_for_k8s_release
            ${{ github.workspace }}/bin/cut_k3s_release_issue
            ${{ github.workspace }}/bin/cut_rke2_release_issue
            ${{ github.workspace }}/bin/delete_release_assets
            ${{ github.workspace }}/bin/rancher_image_scan
            ${{ github.workspace }}/bin/tag_image_build_k8s_release
            ${{ github.workspace }}/bin/tag_rke2_packaging_release
            ${{ github.workspace }}/bin/tag_rke2_release
            ${{ github.workspace }}/bin/update_go
            ${{ github.workspace }}/bin/utility_index
            ${{ github.workspace }}/bin/verify_rke2_charts
            ${{ github.workspace }}/bin/weekly_report
            ${{ github.workspace }}/cmd/backport/bin/backport-darwin-amd64
            ${{ github.workspace }}/cmd/backport/bin/backport-darwin-arm64
            ${{ github.workspace }}/cmd/backport/bin/backport-freebsd-amd64
            ${{ github.workspace }}/cmd/backport/bin/backport-freebsd-arm64
            ${{ github.workspace }}/cmd/backport/bin/backport-linux-amd64
            ${{ github.workspace }}/cmd/backport/bin/backport-linux-arm64
            ${{ github.workspace }}/cmd/backport/bin/sha256sums-backport.txt
            ${{ github.workspace }}/cmd/gen_release_notes/bin/gen_release_notes-darwin-amd64
            ${{ github.workspace }}/cmd/gen_release_notes/bin/gen_release_notes-darwin-arm64
            ${{ github.workspace }}/cmd/gen_release_notes/bin/gen_release_notes-freebsd-amd64
            ${{ github.workspace }}/cmd/gen_release_notes/bin/gen_release_notes-freebsd-arm64
            ${{ github.workspace }}/cmd/gen_release_notes/bin/gen_release_notes-linux-amd64
            ${{ github.workspace }}/cmd/gen_release_notes/bin/gen_release_notes-linux-arm64
            ${{ github.workspace }}/cmd/gen_release_notes/bin/sha256sums-gen_release_notes.txt
            ${{ github.workspace }}/cmd/gen_release_report/bin/gen_release_report-darwin-amd64
            ${{ github.workspace }}/cmd/gen_release_report/bin/gen_release_report-darwin-arm64
            ${{ github.workspace }}/cmd/gen_release_report/bin/gen_release_report-freebsd-amd64
            ${{ github.workspace }}/cmd/gen_release_report/bin/gen_release_report-freebsd-arm64
            ${{ github.workspace }}/cmd/gen_release_report/bin/gen_release_report-linux-amd64
            ${{ github.workspace }}/cmd/gen_release_report/bin/gen_release_report-linux-arm64
            ${{ github.workspace }}/cmd/gen_release_report/bin/sha256sums-gen_release_report.txt
            ${{ github.workspace }}/cmd/k3s_release/bin/k3s_release-darwin-amd64
            ${{ github.workspace }}/cmd/k3s_release/bin/k3s_release-darwin-arm64
            ${{ github.workspace }}/cmd/k3s_release/bin/k3s_release-freebsd-amd64
            ${{ github.workspace }}/cmd/k3s_release/bin/k3s_release-freebsd-arm64
            ${{ github.workspace }}/cmd/k3s_release/bin/k3s_release-linux-amd64
            ${{ github.workspace }}/cmd/k3s_release/bin/k3s_release-linux-arm64
            ${{ github.workspace }}/cmd/k3s_release/bin/sha256sums-k3s_release.txt
            ${{ github.workspace }}/cmd/rancher_release/bin/rancher_release-darwin-amd64
            ${{ github.workspace }}/cmd/rancher_release/bin/rancher_release-darwin-arm64
            ${{ github.workspace }}/cmd/rancher_release/bin/rancher_release-freebsd-amd64
            ${{ github.workspace }}/cmd/rancher_release/bin/rancher_release-freebsd-arm64
            ${{ github.workspace }}/cmd/rancher_release/bin/rancher_release-linux-amd64
            ${{ github.workspace }}/cmd/rancher_release/bin/rancher_release-linux-arm64
            ${{ github.workspace }}/cmd/rancher_release/bin/sha256sums-rancher_release.txt
            ${{ github.workspace }}/cmd/rke2_release/bin/rke2_release-darwin-amd64
            ${{ github.workspace }}/cmd/rke2_release/bin/rke2_release-darwin-arm64
            ${{ github.workspace }}/cmd/rke2_release/bin/rke2_release-freebsd-amd64
            ${{ github.workspace }}/cmd/rke2_release/bin/rke2_release-freebsd-arm64
            ${{ github.workspace }}/cmd/rke2_release/bin/rke2_release-linux-amd64
            ${{ github.workspace }}/cmd/rke2_release/bin/rke2_release-linux-arm64
            ${{ github.workspace }}/cmd/rke2_release/bin/sha256sums-rke2_release.txt
            ${{ github.workspace }}/cmd/semv/bin/semv-darwin-amd64
            ${{ github.workspace }}/cmd/semv/bin/semv-darwin-arm64
            ${{ github.workspace }}/cmd/semv/bin/semv-freebsd-amd64
            ${{ github.workspace }}/cmd/semv/bin/semv-freebsd-arm64
            ${{ github.workspace }}/cmd/semv/bin/semv-linux-amd64
            ${{ github.workspace }}/cmd/semv/bin/semv-linux-arm64
            ${{ github.workspace }}/cmd/semv/bin/sha256sums-semv.txt
            ${{ github.workspace }}/cmd/test_coverage/bin/test_coverage-darwin-amd64
            ${{ github.workspace }}/cmd/test_coverage/bin/test_coverage-darwin-arm64
            ${{ github.workspace }}/cmd/test_coverage/bin/test_coverage-freebsd-amd64
            ${{ github.workspace }}/cmd/test_coverage/bin/test_coverage-freebsd-arm64
            ${{ github.workspace }}/cmd/test_coverage/bin/test_coverage-linux-amd64
            ${{ github.workspace }}/cmd/test_coverage/bin/test_coverage-linux-arm64
            ${{ github.workspace }}/cmd/test_coverage/bin/sha256sums-test_coverage.txt
            ${{ github.workspace }}/cmd/upstream_go_version/bin/upstream_go_version-darwin-amd64
            ${{ github.workspace }}/cmd/upstream_go_version/bin/upstream_go_version-darwin-arm64
            ${{ github.workspace }}/cmd/upstream_go_version/bin/upstream_go_version-freebsd-amd64
            ${{ github.workspace }}/cmd/upstream_go_version/bin/upstream_go_version-freebsd-arm64
            ${{ github.workspace }}/cmd/upstream_go_version/bin/upstream_go_version-linux-amd64
            ${{ github.workspace }}/cmd/upstream_go_version/bin/upstream_go_version-linux-arm64
            ${{ github.workspace }}/cmd/upstream_go_version/bin/sha256sums-upstream_go_version.txt
            ${{ github.workspace }}/ecm-distro-tools.darwin-amd64.tar.gz
            ${{ github.workspace }}/ecm-distro-tools.darwin-arm64.tar.gz
            ${{ github.workspace }}/ecm-distro-tools.linux-amd64.tar.gz
            ${{ github.workspace }}/ecm-distro-tools.linux-arm64.tar.gz
            ${{ github.workspace }}/ecm-distro-tools.freebsd-amd64.tar.gz
            ${{ github.workspace }}/ecm-distro-tools.freebsd-arm64.tar.gz
      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: rancher/ecm-distro-tools:${{ github.ref_name }}
          file: ./Dockerfile
          context: .
